Level-1_Task-2
Descriptive Analysis
Calculate basic statistical measures (mean,median, standard deviation, etc.) for numerical columns.
Explore the distribution of categorical variables like "Country Code", "City", and "Cuisines".
Identify the top cuisines and cities with the highest number of restaurants

1.Statistical Measures for the Numerical columns

In [39]:
import pandas as pd
df=pd.read_csv('Dataset .csv')

numerical_columns=df.select_dtypes(include=['int64','float64'])#for retriving the numerical columns
basic_stats=numerical_columns.describe()
print(basic_stats)

       Restaurant ID  Country Code    Longitude     Latitude  \
count   9.551000e+03   9551.000000  9551.000000  9551.000000
mean    9.051128e+06     18.365616    64.126574    25.854381
std     8.791521e+06     56.750546    41.467058    11.007935
min     5.300000e+01      1.000000  -157.948486   -41.330428
25%     3.019625e+05      1.000000    77.081343    28.478713
50%     6.004089e+06      1.000000    77.191964    28.570469
75%     1.835229e+07      1.000000    77.282006    28.642758
max     1.850065e+07    216.000000   174.832089    55.976980

       Average Cost for two  Price range  Aggregate rating         Votes
count           9551.000000  9551.000000       9551.000000   9551.000000
mean            1199.210763     1.804837          2.666370    156.909748
std            16121.183073     0.905609          1.516378    430.169145
min                0.000000     1.000000          0.000000      0.000000
25%              250.000000     1.000000          2.500000      5.000000
50%              400.000000     2.000000          3.200000     31.000000
75%              700.000000     2.000000          3.700000    131.000000
max           800000.000000     4.000000          4.900000  10934.000000

2. Exploring the Distribution of Categorical Variables

i)For Country_code

In [41]:
country_code_dist=df['Country Code'].value_counts()
print(country_code_dist)

Country Code
1      8652
216     434
215      80
30       60
214      60
189      60
148      40
208      34
14       24
162      22
94       21
184      20
166      20
191      20
37        4
Name: count, dtype: int64

In [ ]:
ii)For City

In [43]:
city_dist=df['City'].value_counts()
print(city_dist)

City
New Delhi           5473
Gurgaon             1118
Noida               1080
Faridabad            251
Ghaziabad             25
                    ...
Panchkula              1
Mc Millan              1
Mayfield               1
Macedon                1
Vineland Station       1
Name: count, Length: 141, dtype: int64

In [ ]:
iii)For Cuisines

In [47]:
cuisine_dist=df['Cuisines'].str.split(',').explode().str.strip().value_counts()
print(cuisine_dist)

Cuisines
North Indian      3960
Chinese           2735
Fast Food         1986
Mughlai            995
Italian            764
                  ...
Fish and Chips       1
Malwani              1
Cuisine Varies       1
Soul Food            1
Bï¿½_rek               1
Name: count, Length: 145, dtype: int64

3. Identifying Top Cuisines

In [49]:
top_cuisines=cuisine_dist.head(10)
print("Top Cuisines:",top_cuisines)

Top Cuisines: Cuisines
North Indian    3960
Chinese         2735
Fast Food       1986
Mughlai          995
Italian          764
Bakery           745
Continental      736
Cafe             703
Desserts         653
South Indian     636
Name: count, dtype: int64

4. Cities with highest no. of restaurants

In [53]:
highest_rest=city_dist.head(10)
print("Cities with highest number of restaurants:",highest_rest)

Cities with highest number of restaurants: City
New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Bhubaneshwar      21
Amritsar          21
Ahmedabad         21
Lucknow           21
Guwahati          21
Name: count, dtype: int64